if session.passport
  span #{session.passport.user.username}
  form(method="POST")
    button(type="submit" formaction="/logout") Logout
  a(href="/sequence") My Sequences
  a(href="/user/poses") My Poses
a(href="/poses") All Poses


form(method="GET")
  input(type="text" placeholder="search poses" id="searchPoses" name="title" required)
  button(type="submit" formaction=`/search/?${title}` value="search") Search Poses