doctype html
html
  head
    title Yogo
    link(rel="stylesheet", href="/public/styles/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet", href="/public/styles/styles.css")
  body
    include partials/nav.pug
    h1 Yogo!

  block content
    button#showLogin login
    button#showRegister register

    script(src="/public/jquery/dist/jquery.min.js")
    script(src="/public/tether/dist/js/tether.min.js")
    script(src="/public/styles/bootstrap/dist/js/bootstrap.min.js")
    script(src="/public/jquery-ui/jquery-ui-1.12.1.custom/jquery-ui.min.js")
    script(src="/public/main.js")
    script
      include ../client/client.js
