doctype html
html
  head
    title Yogo
    link(rel="stylesheet", href="/public/styles/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet", href="/public/styles/styles.css")
    link(href="https://fonts.googleapis.com/css?family=Amatic+SC|Pathway+Gothic+One" rel="stylesheet")
  body
    include partials/nav.pug

  block content
    .container
      .row
        div.col-
          img(class="img-fluid" src="/public/images/rainbowDotLotus.png")

    script(src="/public/jquery/dist/jquery.min.js")
    script(src="/public/tether/dist/js/tether.min.js")
    script(src="/public/styles/bootstrap/dist/js/bootstrap.min.js")
    script(src="/public/jquery-ui/jquery-ui-1.12.1.custom/jquery-ui.min.js")
    script(src="/public/main.js")
    script
      include ../client/client.js
