extends index.pug

block content
  .container.lotusBG.stretchDiv
    .row
      h1 Please Log In:
      if message
        h2= message

    .row
      .col-
      .col-
        form(action="/login", method="post")
          input(type="text" placeholder="username" name="username")
          input(type="email" placeholder="email" name="email")
          input(type="password" placeholder="password" name="password")
          button(type="submit" class="btn") login

        p Need to register? 
        a(href="/register")
          button(class="btn") Register

      .col-
