extends index.pug

block content
  .container.lotusBG.stretchDiv
    .row
      .col-
        h1.title-texts New here? Register as a user to save your sequences!
        if message
          h2= message
        include partials/register.pug
