extends index.pug

block content
  include partials/myMoves.pug
  a(href='/sequence/new')
    button.btn.btn-info Create a New Sequence
  ul
    each seq in seqs
      li.displaySeqCard 
        a(href=`/sequence/${seq.id}`)
          h2= seq.title
          a(href=`/sequence/play/${seq.id}` class="button btn") Play sequence