extends index.pug

block content
  .container.stretchDiv.lotusBG
    .row
      .col-
        .welcome-text
          if messages.registerMsg
            h1= messages.registerMsg
          else
            h1 Welcome back, #{session.passport.user.username}