body {
    background-color:#FAFBC4;
}

a {
  text-decoration: none;
}

.hidden{
  display: none;
}

.c-wrapper{
    width: 80%; 
    margin: auto;
}

.carousel-inner img{
width: 100%; 
margin: auto;
}

.tallness {
  min-height: 95%;
  margin: 4px 0;
}

.filter{
  display: inline;
}

.vid-wrapper {
  width: 88vw;
}
video {
  margin: auto;
}
.darkbg {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.61);
}
.tealbg{
  background-color: #9eece9;
}
.dkbluebg{
  background-color: #063782;
}
.pinkbg{
  background-color: #ffbcb9;}
.lotusBG {
  background-image: url('../images/rainbowDotLotus.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-color: ivory;
}

.stretchDiv {
  height: 85vh;
}

.welcome-text {
  text-align: center;
}

.my-moves-panel {
  max-height: 35vh;
  overflow-x: scroll;
  overflow-y: hidden;
  display: block;
  white-space: nowrap;
}

.sequence-play-img {
  max-height: 90vh;
}

.sortable { list-style-type: none; 
  margin: 0; 
  padding: 0; 
}

.minicard {
  display: inline-block;
  margin: 3px 3px 3px 0; 
  padding: 1px; 
  width: 165px; 
  height: 155px; 
  font-size: 0.9rem; 
  text-align: center; 
  background-color: white;
  white-space: normal;
}

.sortable li { 
  margin: 3px 3px 3px 0; 
  padding: 1px; 
  float: left; 
  width: 220px; 
  height: 200px; 
  font-size: 0.9rem; 
  text-align: center; 
  background-color: white;
}

.img-wrapper {
  position: relative;
}

.xbuttons {
  position: absolute;
  top:0; 
  right:0;
}

.addbutton {
  position: absolute;
  top:0; 
  right:0;
  
}
/* styles for the sliding side bar modified from https://codepen.io/anon/pen/OOXYpd */

@import url(https://fonts.googleapis.com/css?family=Poiret+One|Varela+Round);

html, body {
margin: 0;
padding: 0; }


.toggle {
text-decoration: none;
font-size: 2em;
color: rgba(0, 0, 0, 0.61);
-webkit-transition: all 01.5s ease-out 0;
-moz-transition: all 01.5s ease-out 0;
transition: all 04.5s ease-out 0;
position: fixed;
top: 0px;
right: 20px;
z-index: 1;
cursor: pointer;
background-color: lightgrey;
padding: 4px;
border-radius: 5px;
/* opacity: .7; */
}

.sidebar {
position: fixed;
top: 0;
bottom: 0;
right: -2000px;
-webkit-transition: all 01.5s ease-out 10;
-moz-transition: all 01.5s ease-out 10;
transition: all 01.5s ease-out 10;
width: 40%;
padding: 1.5em;
background: aquamarine; 
overflow-y: scroll;
}

.sidebar ul {
list-style: none;
margin: 0;
padding: 0; 
}

/* .sidebar li a {
color: #fff;
font-family: 'Poiret One', cursive;
/* font-size: 1.2em; */
/* margin: 0; */
/* margin-bottom: 16px; */
/* cursor: pointer;
text-decoration: none;
line-height: 200%;
} */

.sidebar a:hover {
  color: rgba(0, 0, 0, 0.61); 
}

#slide:checked + .container .sidebar {
right: 0px;
 }

#slide:checked + .container .toggle {
right: 40%;
 }


#slide {
display: none; 
}

